@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

input:focus, textarea:focus {
    outline: none;
}


.box {
background-image: url('img/beanstalk-dark.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}


h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

html {
    background-image: url('img/beanstalk-dark.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    overflow: scroll;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #62e1e9;
    border-radius: 10px;
}

.codeimage {
    background-image: url(img/codeimage.jpg);
    padding: 300px 100px;
    
    
    background-size: cover;
    background-position: center;


}




footer {
    width: 100%;
    height: 250px;
    margin-top: 66px;
}

/* NAVIGATION BAR */

nav {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.cube__container {
        width: 20px;
        height: 20px;
        perspective: 1000px;
        margin: 10px auto 0;
    
    }
    
    .cube {
        transform-style: preserve-3d;
        width: 500%;
        height: 500%;
        position: relative;
        animation: spin 7s infinite linear;
    }
    
    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #62e1e9;
    }
    
    .top {
        transform: rotateX(90deg) translateZ(50px);
    }
    
    .bottom {
        transform: rotateX(-90deg) translateZ(50px);
    }
    
    .right {
        transform: rotateY(90deg) translateZ(50px)
    }
    
    .left {
        transform: rotateY(-90deg) translateZ(50px);
    }
    
    .front {
        transform: rotateX(0deg) translateZ(50px);
    }
    
    .back {
        transform: rotateX(-180deg) translateZ(50px);
    }
    
    @keyframes spin {
        from {
            transform: rotateX(0deg) rotateY(0deg);
        }
        to {
            transform: rotateX(360deg) rotateY(360deg);
        }
    }

.nav__bar--links {
    text-decoration: none;
    padding: 8px 20px;
    background-color: #62e1e9;
    margin: 0px 12px;
    border-radius: 18px;
    color: black;
    font-weight: 600;
    transition: all 300ms ease;
}

.nav__bar--links:hover {
    background-color: #0652e9;
    transition: 450ms ease;
    color: #62e1e9;
}

/* ABOUT ME */

.about__me--container {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0px;
}

.intro-heading{
    color: white;
    margin: 50px 20px;
    font-size: 32px;
}

.intro-para {
    color: white;
    text-align: center;
    font-size: 18px;
}

.my-memoji {
    max-width: 450px;
    border-radius: 25px;
    transition: 450ms ease-in-out;
}

.my-memoji:hover {
    transform: scale(1.1);
    transition: 450ms ease-in-out;
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;   
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;     
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(18.0deg) } 
    20% { transform: rotate(-10.0deg) }
    30% { transform: rotate(18.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
}

.blue-text {
    color:#62e1e9;
}

  /* SOCIAL LINKS */

.socials {
    font-size: 36px;
    display: flex;
    list-style-type: none;
    position: fixed;
    height: 400px;
    justify-content: space-between;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
}

.nav-socials {
    color: #0652e9;               
    margin-left: 100px;
}

.nav-socials:hover {
    color: #62e1e9;
    transition: 300ms ease;
}

/* SPACING IMAGES */

.undraw-imgs {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

/* LANGUAGES */

.h1__languages {
    color: white;
    font-size: 40px;
    padding-bottom: 66px;
}

.language__name {
    color: white;
    font-weight: bold;
}

.undraw-coder {
    max-width: 600px;
    width: 100%;
}

.undraw-coder-2 {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 500px;
    width: 100%;
    padding-bottom: 32px;
}

.my-languages {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.language-img {
    max-width: 125px;
    width: 100%;
    margin: 32px;
    transition: 300ms ease-in-out;
}

.language-img:hover {
    transform: scale(0.90);
    opacity: 60%;
}

.language__name {
    transform: scale(0);
    transition: all 300ms ease-in-out;
}

.language__name--hover:hover .language__name {
    transform: scale(1);
}

.section-2 {
    background-color: white;
}

.vertical-wave {
    line-height: 0px;
}

.h1_learning {
    color: white;
    font-size: 40px;
    padding-bottom: 66px;
}

/* PROJECTS */

.projects-h1 {
    color: white;
    font-size: 40px;
    padding-bottom: 66px;
}

.project {
    margin-bottom: 135px;
  }
  
  .project:last-child {
    margin-bottom: 40px;
  }
  
  .project__img {
    width: 100%;
    transition: all 500ms ease;
  }
  
  .project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(193, 193, 193, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
  .project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    z-index: 2;
    transform: translateY(100%);
  }

  .project:hover .project__wrapper:before {
    transform: translateY(0);
    opacity: 0.7;
  }

  .row {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }

  .project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
  }
  
  .project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
  }
  
  .project__list {
    padding-top: 40px;
  }
  
  .project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
  }
  
  .project__description--title {
    font-size: 40px;
  }
  
  .project__description--para {
    margin: 16px 0;
  }
  
  .project__description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
    transition: 300ms ease;
  }

  .project__description--link:hover {
      color: #62e1e9;
  }
  
  .project__description--title,
  .project__description--sub-title,
  .project__description--para,
  .project__description--link {
    text-align: left;
    color: #fff;
  }

/* CONTACT ME */

.contact-me-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 66px;
}

.wrap-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    color: white;
}

.contact-me-h1 {
    color: white;
    padding-bottom: 66px;
}

.form-label {
    font-size: 18px;
}

#fname {
    padding: 8px 12px;
    margin: 8px 0;
    height: 50px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #bdbdbd;
    border: none;

}

#lname {
    padding: 8px 12px;
    margin: 8px 0;
    height: 50px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #bdbdbd;
    border: none;
}

#email {
    padding: 8px 12px;
    margin: 8px 0;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #bdbdbd;
    border: none;
}

#contact-text-area {
    padding: 8px 12px;
    margin: 8px 0;
    height: 50px;
    font-size: 16px;
    height: 100px;
    border-radius: 3px;
    background-color: #bdbdbd;
    border: none;
}

button {
    width: 150px;
    height: 40px;
    background-color: #62e1e9;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: all ease-in-out 300ms;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #0652e9;
}

.right-side-container {
    display: flex;
    flex-direction: column;
}

.contact-img {
    max-width: 400px;
    width: 100%;
}

.email-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all ease-in-out 300ms;
    padding: 50px;
}

.email-link:hover {
    color: #62e1e9;
}

/* FOOTER  */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    bottom: 0;
    line-height: 0;
}

.footer-logo {
    width: 200px;
    margin: 0 75px;
}

.footer-copyright {
    text-align: center;
    font-size: 16px;
    width: 200px;
    color: white;
    margin: 0 75px;
}

.footer__social--links {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    transition: all 300ms ease;
}

.footer__social--links:hover {
    color: #62e1e9;
}

.footer__socials {
    display: flex;
    justify-content: center;
}


/* MEDIA SMALL PHONES, TABLETS, LARGE SMARTHPONES */

@media (max-width: 768px) {

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .about__me--container {
        flex-direction: column;
    }

    .my-memoji {
        max-width: 100px;
        margin: 0;
    }

    .about-me {
        padding: 0;
    }

    .intro-para {
        align-items: center;
        font-size: 14px;
        padding: 0 12px;
    }

    .intro-heading {
        align-items: center;
    }

    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .footer {
        flex-direction: column;
    }

    .footer-logo {
        max-width: 150px;
    }

    .footer-copyright {
        font-size: 12px;
    }

    .h1__languages {
        font-size: 26px;
        margin: 50px 50px 0 50px;
    }

    .undraw-coder {
        padding: 0 50px;
        margin: 50px 0;
    }

    .undraw-coder-2 {
        padding: 0 50px;
        margin: 50px 0;
    }

    .projects-h1 {
        font-size: 26px;
        margin: 50px 50px 0 50px;
    }

    .h1_learning {
        font-size: 26px;
        margin: 50px 50px 0 50px;
    }

    .contact-me-h1 {
        font-size: 26px;
        margin: 50px 50px 0 50px;
    }

    .wrap-contents {
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        padding: 0 24px;
    }

    #submit-button {
        margin: 0 auto;
    }

    .form-label {
        font-size: 16px;
        font-weight: 100;
    }

    .contact-img {
        padding: 0 24px;
    }

    .nav-socials {
        display: none;
    }

    .project__description--title {
        font-size: 16px;
    }

    .project__description--sub-title{
        font-size: 14px;
    }

    .project__description--para {
        display: none;
    }

    .not__contact {
        display: none;
    } 

    .language-img {
        max-width: 75px;
        width: 100%;
    }

    .language__name {
        font-size: 14px;
        font-weight: 200;
    }

    .footer__socials {
        font-size: 12px;
        padding-top: 30px;
    }

}

@media (max-width: 866px) {
    .not__contact {
        display: none;
    }
}


@media (max-width: 1274px) {
    .socials {
        display: none;
    }
}
